version: "3.7"

services:
  db:
    image: postgres
    container_name: wycm_db
    env_file:
      - dev.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d wycm_dev_db"]
      timeout: 20s
      retries: 10
    ports:
      - "7002:5432"

  web:
    build:
      context: .
      dockerfile: ./compose/develop/Dockerfile-dev
    volumes:
      - ./:/app/
    command: bash -c "python main.py"
    container_name: wycm_web
    env_file:
      - dev.env
    depends_on:
      db:
        condition: service_healthy
    restart: always
    ports:
      - "3052:3052"
